// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grey-light: #e5e5e5;
$grey-med: #1f1f1f;
$grey-med-cover: #292929;
$green-light: #20b621;
$green-light-cover: #68ca85;

$theme-main: #070707;
$theme-dark-1: #0d0d0d;
$theme-dark-2: #292929;
$theme-dark-3: #141414;
$theme-teal: #3ba4ab;
$theme-orange: #bf9418;
$theme-green: #369d56;
$theme-red: #dd3328;
$theme-blue: #486591;
