@import 'variables';

/*Components*/
/*Submissions*/
.content-block#submissions {
    .block-header {
        .block-title {

        }
    }
    .block-body {
        .submissions {
            width: 100%;
            display: table;
            .submissions-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-column-gap: 15px;
                padding: 15px;
                float: left;
                .submission-card {
                    width: 100%;
                    box-shadow: 0 5px 10px -3px #121212;
                    border-radius: 5px;
                    overflow: hidden;
                    .submission-background {
                        width: 100%;
                        height: 200px;
                        .submission-header {
                            width: 100%;
                            height: 30px;
                            background-color: rgba(51, 51, 51, 0.8);
                            .header-user {
                                color: #fff;
                                line-height: 30px;
                                padding-left: 10px;
                                float: left;
                            }
                            .header-expand {
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                color: #fff;
                                float: right;
                                &:hover {
                                    color: $theme-orange;
                                    cursor: pointer;
                                }
                            }
                        }
                        .submission-body {
                            width: 100%;
                            height: 130px;
                        }
                        .submission-footer {
                            width: 100%;
                            height: 40px;
                            background-color: $theme-dark-2;
                            .submission-deny {
                                width: 50%;
                                height: 100%;
                                line-height: 40px;
                                padding-left: 20px;
                                background-color: $theme-red;
                                color: #fff;
                                font-size: 22px;
                                float: left;
                            }
                            .submission-accept {
                                width: 50%;
                                height: 100%;
                                line-height: 40px;
                                padding-right: 20px;
                                text-align: right;
                                background-color: $theme-green;
                                color: #fff;
                                font-size: 22px;
                                float: right;
                            }
                        }
                    }
                }
            }
            .submission-view {
                width: 300px;
                height: 100%;
                display: table-cell;
                vertical-align: top;
                padding-bottom: 15px;
                padding-right: 15px;
                .view-container {
                    width: 100%;
                    height: 100%;
                    display: table;
                    .container-header {
                        width: 100%;
                        padding-left: 5px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 18px;
                        background-color: $theme-dark-2;
                        color: #fff;
                        border: 2px solid $theme-dark-3;
                        border-bottom: none;
                        border-right: none;
                        border-top-left-radius: 5px;
                    }
                }
                .submission-fields {
                    width: 100%;
                    height: calc(100% - 35px);
                    border-left: 2px solid $theme-dark-3;
                    display: table;
                    padding-bottom: 25px;
                    .submission-image {
                        width: 100%;
                        padding: 10px;
                        .image {
                            width: 100%;
                        }
                    }
                    .submission-task {
                        width: 100%;
                        padding: 5px;
                        .task-header {
                            width: 100%;
                            height: 25px;
                            line-height: 25px;
                            font-size: 18px;
                            border-bottom: 1px solid $grey-light;
                            padding-left: 10px;
                        }
                        .task-title {
                            width: 100%;
                            padding: 5px;
                            font-weight: 600;
                        }
                        .task-description {
                            width: 100%;
                            padding-left: 15px;
                            font-size: 14px;
                        }
                        .submission-note-title {
                            width: 100%;
                            padding-left: 10px;
                            margin-top: 10px;
                            font-weight: 600;
                        }
                        .submission-note {
                            width: 100%;
                            padding-left: 15px;
                            font-size: 14px;
                        }
                    }
                    .submission-user {
                        width: 100%;
                        padding: 5px;
                        .user-header {
                            width: 100%;
                            height: 25px;
                            line-height: 25px;
                            font-size: 18px;
                            border-bottom: 1px solid $grey-light;
                            padding-left: 10px;
                        }
                        .user-name {
                            height: 30px;
                            line-height: 30px;
                            padding-left: 5px;
                            width: 100%;
                            font-weight: 600;
                        }
                        .user-description {
                            width: 100%;
                            padding-left: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
