@import 'variables';

/*Components*/
/*Profile*/
.block.profile {
    width: 100%;
    .profile-info {
        width: 100%;
        display: block;
        .info-image {
            width: 100px;
            height: 110px;
            padding: 25px 0px 5px 10px;
            display: inline-block;
            vertical-align: top;
            .image-inner {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
        }
        .info {
            width: calc(100% - 100px);
            height: 110px;
            display: inline-block;
            vertical-align: top;
            padding: 20px 5px 5px 15px;
            .info-name {
                font-size: 21px;
                letter-spacing: .075em;
                padding-left: 3px;
            }
            .info-description {
                width: 100%;
                height: 40px;
                margin-top: 15px;
                font-size: 13px;
                line-height: 20px;
                overflow: hidden;
            }
        }
    }
    .profile-levels {
        width: 100%;
        height: 23px;
        margin-top: 15px;
        margin-bottom: 7px;
        padding: 0px 15px;
        .level-container {
            width: 25%;
            float: left;
            .level-top {
                width: 100%;
                height: 20px;
                padding-left: 5px;
                line-height: 10px;
                font-size: 12px;
                font-weight: 600;
            }
            .level-bar {
                width: 90%;
                height: 3px;
                margin-right: 10%;
                background-color: $grey-light;
                border-radius: 1.5px;
                &.complete {
                    background-color: $green-light;
                }
            }
        }
    }
}

/*Task Card*/
.block.taskcard {
    width: 100%;
    padding: 20px 10px;
    .card {
        width: 100%;
        border-radius: 10px;
        background-color: $green-light;
        box-shadow: 0 5px 10px -3px #575757;
        .card-top {
            width: calc(100% - 20px);
            height: 25px;
            margin: 0px 10px;
            border-bottom: 1px solid $green-light-cover;
            display: block;
            .card-name {
                padding-right: 10px;
                color: $grey-med;
                line-height: 25px;
                font-size: 14px;
                display: inline-block;
                vertical-align: top;
            }
            .card-time {
                color: $grey-med;
                line-height: 25px;
                padding-top: 1px;
                font-size: 11.5px;
                display: inline-block;
                vertical-align: top;
            }
            .card-page {
                float: right;
                line-height: 25px;
                color: $grey-med;
                font-size: 14px;
                text-align: right;
                display: inline-block;
                vertical-align: top;
            }
        }
        .card-body {
            width: calc(100% - 20px);
            margin: auto;
            padding: 10px 0px;
            .card-question {
                width: 100%;
                color: #fff;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .card-description {
                width: 100%;
                color: #000;
                font-size: 15px;
                padding: 0px 5px;
            }
            .card-action {
                width: 100%;
                height: 30px;
                margin-top: 10px;
                .action-button {
                    width: 140px;
                    height: 30px;
                    background-color: #fff;
                    color: #000;
                    border-radius: 10px;
                    line-height: 30px;
                    font-size: 16px;
                    text-align: center;
                    float: right;
                    transition: background-color .1s ease-in-out;
                    &.disabled {
                        &:hover {
                            background-color: #fff;
                            cursor: unset;
                        }
                    }
                    &:hover {
                        background-color: $grey-light;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/*Activity Feed*/
.block.activityfeed {
    width: 100%;
    padding: 10px;
    .activityfeed-header {
        width: 100%;
        height: 45px;
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
        display: block;
        border-top: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        .header-tab {
            width: 50%;
            height: 100%;
            display: inline-block;
            font-size: 15px;
            text-align: center;
        }
        .header-current {
            width: 50%;
            height: 3px;
            background-color: #000;
            transition: margin-left .2s ease-in-out;
        }
    }
    .activity {
        width: 100%;
        height: 400px;
        color: #000;
        overflow-x: hidden;
        border-bottom: 1px solid $grey-light;
        .tabs {
            width: 200%;
            height: 400px;
            transition: margin-left .2s ease-in-out;
            overflow: hidden;
            .tab {
                width: 50%;
                height: 400px;
                float:left;
                overflow-y: auto;
                .timeline {
                    width: 100%;
                }
            }
        }
    }
}

/*Overlays*/
.overlay-cover {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    z-index: 9999;
    .overlay-container {
        margin-left: calc(100% + 40px);
        width: 100%;
        height: calc(100vh - 40px);
        background-color: #fff;
        border-radius: 10px;
        transition: margin-left .2s ease-in-out;
        box-shadow: 0 5px 10px -3px #121212;
        padding: 10px;
    }
}
/*TASK*/
.overlay-cover.task {
    .overlay-container {
        .overlay-top {
            height: 35px;
            margin-bottom: 20px;
            border-bottom: 1px solid $grey-light;
            .overlay-title {
                float: left;
                font-size: 20px;
                line-height: 35px;
                padding-left: 10px;
            }
            .overlay-exit {
                width: 30px;
                height: 30px;
                margin: 2.5px 10px 2.5px 0px;
                float: right;
                color: #fff;
                background-color: $grey-med;
                line-height: 30px;
                text-align: center;
                border-radius: 50%;
            }
        }
        .overlay-body {
            width: 100%;
            height: calc(100% - 55px);
            overflow-y: auto;
            .overlay-task {
                width: 100%;
                .task-content {
                    width: 100%;
                    .task-title {
                        width: 100%;
                        line-height: 26px;
                        font-size: 18px;
                        padding: 10px 5px 20px 5px;
                        background-color: $grey-med;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        color: #fff;
                    }
                    .task-thumbnail {
                        width: 100%;
                        height: 150px;
                        margin-top: -5px;
                        border-radius: 5px;
                        box-shadow: 0 5px 10px -3px #121212;
                    }
                    .task-description {
                        width: 100%;
                        padding: 10px;
                        padding-top: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    .task-image {
                        width: 100%;
                        padding: 10px;
                        .image-upload {
                            .upload-button {
                                width: 120px;
                                height: 30px;
                                line-height: 30px;
                                font-size: 18px;
                                background-color: $green-light;
                                color: #fff;
                                border: none;
                                border-radius: 5px;
                            }
                            .upload-button-hidden {
                                display: none;
                            }
                        }
                        .image-preview {
                            width: 80%;
                            margin: 20px auto;
                            margin-bottom: 0px;
                            .preview-inner {
                                width: 100%;
                                .preview-image {
                                    width: 100%;
                                    box-shadow: 0 5px 10px -3px #121212;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                    .task-note {
                        width: 100%;
                        padding: 10px;
                        textarea {
                            width: 90%;
                            height: 70px;
                            margin: 0px 2.5%;
                            border: 1px solid $grey-med;
                            background-color: #fff;
                            border-radius: 5px;
                            min-width: 90%;
                            max-width: 90%;
                            min-height: 70px;
                            padding: 5px;
                            font-size: 16px;
                        }
                    }
                }
                .task-submit {
                    width: 100%;
                    height: 50px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    text-align: center;
                    .submit-button {
                        width: 180px;
                        height: 50px;
                        background-color: $green-light;
                        color: #fff;
                        border-radius: 10px;
                        font-size: 20px;
                        border: none;
                        &[disabled] {
                            background-color: $grey-med;
                        }
                    }
                }
            }
        }
    }
}
