@import 'variables';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    text-decoration: none;
}

div,input,select,textarea {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}


.page-wrapper {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: 999;
}
.page-sections {
    width: 100%;
    min-height: calc(100vh - 25px);
    padding-top: 45px;
}
.page-container {
    width: 100%;
    padding: 10px;
    display: block;
    .row {
        width: 100%;
        min-height: 5px;
        display: inline-block;
    }
    &:before {
        content: ' ';
        display: block;
        width: 100%;
        height: .0000001em;
    }
    &.nopadding {
        padding: 0px;
    }

}

/*Backgrounds*/
.background-cover {
    background-size: cover;
    background-position: center center;
}
.background-contain {
    background-size: contain;
    background-position: center center;
}

/*Header*/
header {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    .header-bar {
        width: 100%;
        height: 45px;
        z-index: 2;
        line-height: 45px;
        background-color: $theme-main;
        .header-nav {
            width: 100%;
            height: 100%;
            display: block;
            .header-menu {
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #fff;
                text-align: center;
                font-size: 20px;
                display: inline-block;
                vertical-align: top;
                i {
                    &:hover {
                        color: $theme-orange;
                        cursor: pointer;
                    }
                }
                .menu.header {
                    width: 80%;
                    height: calc(100vh - 45px);
                    max-width: 300px;
                    position: absolute;
                    margin-left: -80%;
                    background-color: $theme-main;
                    transition: margin-left .2s ease-in-out;
                    .menu-sidebar {
                        width: 100%;
                        height: 100%;
                        .menu-item {
                            width: 80%;
                            line-height: 45px;
                            padding-left: 20px;
                            margin-right: 20%;
                            a {
                                .item-title {
                                    width: 100%;
                                    height: 45px;
                                    color: #fff;
                                    &:hover {
                                        color: $theme-orange;
                                    }
                                }
                            }
                        }
                    }
                    &.toggled {
                        margin-left: 0px;
                    }
                }
            }
            .header-logo {
                width: calc(100% - 97px);
                height: 45px;
                display: inline-block;
                vertical-align: top;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    text-align: center;
                    font-size: 20px;
                    line-height: 45px;
                    font-weight: 700;
                }
            }
            .header-options {
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #fff;
                text-align: center;
                font-size: 20px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

/*Footer*/
.footer-bar {

    width: 100%;
    height: 25px;
    line-height: 25px;
    .footer-copyright {
        width: 100%;
        height: 100%;
        line-height: 25px;
        font-size: 16px;
        background-color: #222;
        color: #fff;
        text-align: center;
    }
}
