/*Components*/

/*Submissions*/

.content-block#submissions .block-body .submissions {
  width: 100%;
  display: table;
}

.content-block#submissions .block-body .submissions .submissions-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  padding: 15px;
  float: left;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card {
  width: 100%;
  box-shadow: 0 5px 10px -3px #121212;
  border-radius: 5px;
  overflow: hidden;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background {
  width: 100%;
  height: 200px;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-header {
  width: 100%;
  height: 30px;
  background-color: rgba(51, 51, 51, 0.8);
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-header .header-user {
  color: #fff;
  line-height: 30px;
  padding-left: 10px;
  float: left;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-header .header-expand {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  float: right;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-header .header-expand:hover {
  color: #bf9418;
  cursor: pointer;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-body {
  width: 100%;
  height: 130px;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-footer {
  width: 100%;
  height: 40px;
  background-color: #292929;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-footer .submission-deny {
  width: 50%;
  height: 100%;
  line-height: 40px;
  padding-left: 20px;
  background-color: #dd3328;
  color: #fff;
  font-size: 22px;
  float: left;
}

.content-block#submissions .block-body .submissions .submissions-container .submission-card .submission-background .submission-footer .submission-accept {
  width: 50%;
  height: 100%;
  line-height: 40px;
  padding-right: 20px;
  text-align: right;
  background-color: #369d56;
  color: #fff;
  font-size: 22px;
  float: right;
}

.content-block#submissions .block-body .submissions .submission-view {
  width: 300px;
  height: 100%;
  display: table-cell;
  vertical-align: top;
  padding-bottom: 15px;
  padding-right: 15px;
}

.content-block#submissions .block-body .submissions .submission-view .view-container {
  width: 100%;
  height: 100%;
  display: table;
}

.content-block#submissions .block-body .submissions .submission-view .view-container .container-header {
  width: 100%;
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  background-color: #292929;
  color: #fff;
  border: 2px solid #141414;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 5px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields {
  width: 100%;
  height: calc(100% - 35px);
  border-left: 2px solid #141414;
  display: table;
  padding-bottom: 25px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-image {
  width: 100%;
  padding: 10px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-image .image {
  width: 100%;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-task {
  width: 100%;
  padding: 5px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-task .task-header {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 10px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-task .task-title {
  width: 100%;
  padding: 5px;
  font-weight: 600;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-task .task-description {
  width: 100%;
  padding-left: 15px;
  font-size: 14px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-task .submission-note-title {
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  font-weight: 600;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-task .submission-note {
  width: 100%;
  padding-left: 15px;
  font-size: 14px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-user {
  width: 100%;
  padding: 5px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-user .user-header {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 10px;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-user .user-name {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  width: 100%;
  font-weight: 600;
}

.content-block#submissions .block-body .submissions .submission-view .submission-fields .submission-user .user-description {
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}

