/*Components*/

/*Profile*/

.block.profile {
  width: 100%;
}

.block.profile .profile-info {
  width: 100%;
  display: block;
}

.block.profile .profile-info .info-image {
  width: 100px;
  height: 110px;
  padding: 25px 0px 5px 10px;
  display: inline-block;
  vertical-align: top;
}

.block.profile .profile-info .info-image .image-inner {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.block.profile .profile-info .info {
  width: calc(100% - 100px);
  height: 110px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 5px 5px 15px;
}

.block.profile .profile-info .info .info-name {
  font-size: 21px;
  letter-spacing: 0.075em;
  padding-left: 3px;
}

.block.profile .profile-info .info .info-description {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
}

.block.profile .profile-levels {
  width: 100%;
  height: 23px;
  margin-top: 15px;
  margin-bottom: 7px;
  padding: 0px 15px;
}

.block.profile .profile-levels .level-container {
  width: 25%;
  float: left;
}

.block.profile .profile-levels .level-container .level-top {
  width: 100%;
  height: 20px;
  padding-left: 5px;
  line-height: 10px;
  font-size: 12px;
  font-weight: 600;
}

.block.profile .profile-levels .level-container .level-bar {
  width: 90%;
  height: 3px;
  margin-right: 10%;
  background-color: #e5e5e5;
  border-radius: 1.5px;
}

.block.profile .profile-levels .level-container .level-bar.complete {
  background-color: #20b621;
}

/*Task Card*/

.block.taskcard {
  width: 100%;
  padding: 20px 10px;
}

.block.taskcard .card {
  width: 100%;
  border-radius: 10px;
  background-color: #20b621;
  box-shadow: 0 5px 10px -3px #575757;
}

.block.taskcard .card .card-top {
  width: calc(100% - 20px);
  height: 25px;
  margin: 0px 10px;
  border-bottom: 1px solid #68ca85;
  display: block;
}

.block.taskcard .card .card-top .card-name {
  padding-right: 10px;
  color: #1f1f1f;
  line-height: 25px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.block.taskcard .card .card-top .card-time {
  color: #1f1f1f;
  line-height: 25px;
  padding-top: 1px;
  font-size: 11.5px;
  display: inline-block;
  vertical-align: top;
}

.block.taskcard .card .card-top .card-page {
  float: right;
  line-height: 25px;
  color: #1f1f1f;
  font-size: 14px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

.block.taskcard .card .card-body {
  width: calc(100% - 20px);
  margin: auto;
  padding: 10px 0px;
}

.block.taskcard .card .card-body .card-question {
  width: 100%;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.block.taskcard .card .card-body .card-description {
  width: 100%;
  color: #000;
  font-size: 15px;
  padding: 0px 5px;
}

.block.taskcard .card .card-body .card-action {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.block.taskcard .card .card-body .card-action .action-button {
  width: 140px;
  height: 30px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  float: right;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.block.taskcard .card .card-body .card-action .action-button.disabled:hover {
  background-color: #fff;
  cursor: unset;
}

.block.taskcard .card .card-body .card-action .action-button:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/*Activity Feed*/

.block.activityfeed {
  width: 100%;
  padding: 10px;
}

.block.activityfeed .activityfeed-header {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.block.activityfeed .activityfeed-header .header-tab {
  width: 50%;
  height: 100%;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

.block.activityfeed .activityfeed-header .header-current {
  width: 50%;
  height: 3px;
  background-color: #000;
  -webkit-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

.block.activityfeed .activity {
  width: 100%;
  height: 400px;
  color: #000;
  overflow-x: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.block.activityfeed .activity .tabs {
  width: 200%;
  height: 400px;
  -webkit-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
  overflow: hidden;
}

.block.activityfeed .activity .tabs .tab {
  width: 50%;
  height: 400px;
  float: left;
  overflow-y: auto;
}

.block.activityfeed .activity .tabs .tab .timeline {
  width: 100%;
}

/*Overlays*/

.overlay-cover {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  z-index: 9999;
}

.overlay-cover .overlay-container {
  margin-left: calc(100% + 40px);
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
  box-shadow: 0 5px 10px -3px #121212;
  padding: 10px;
}

/*TASK*/

.overlay-cover.task .overlay-container .overlay-top {
  height: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.overlay-cover.task .overlay-container .overlay-top .overlay-title {
  float: left;
  font-size: 20px;
  line-height: 35px;
  padding-left: 10px;
}

.overlay-cover.task .overlay-container .overlay-top .overlay-exit {
  width: 30px;
  height: 30px;
  margin: 2.5px 10px 2.5px 0px;
  float: right;
  color: #fff;
  background-color: #1f1f1f;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.overlay-cover.task .overlay-container .overlay-body {
  width: 100%;
  height: calc(100% - 55px);
  overflow-y: auto;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task {
  width: 100%;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content {
  width: 100%;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-title {
  width: 100%;
  line-height: 26px;
  font-size: 18px;
  padding: 10px 5px 20px 5px;
  background-color: #1f1f1f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-thumbnail {
  width: 100%;
  height: 150px;
  margin-top: -5px;
  border-radius: 5px;
  box-shadow: 0 5px 10px -3px #121212;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-description {
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-image {
  width: 100%;
  padding: 10px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-image .image-upload .upload-button {
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  background-color: #20b621;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-image .image-upload .upload-button-hidden {
  display: none;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-image .image-preview {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 0px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-image .image-preview .preview-inner {
  width: 100%;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-image .image-preview .preview-inner .preview-image {
  width: 100%;
  box-shadow: 0 5px 10px -3px #121212;
  border-radius: 5px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-note {
  width: 100%;
  padding: 10px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-content .task-note textarea {
  width: 90%;
  height: 70px;
  margin: 0px 2.5%;
  border: 1px solid #1f1f1f;
  background-color: #fff;
  border-radius: 5px;
  min-width: 90%;
  max-width: 90%;
  min-height: 70px;
  padding: 5px;
  font-size: 16px;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-submit {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-submit .submit-button {
  width: 180px;
  height: 50px;
  background-color: #20b621;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

.overlay-cover.task .overlay-container .overlay-body .overlay-task .task-submit .submit-button[disabled] {
  background-color: #1f1f1f;
}

